
<head>
    <link href="~/Content/Admin.css" rel="stylesheet" />
</head>
<header role="banner">
    <h1>BS</h1>
    <ul class="utilities">
        <br>
        <li class="users"><a href="#"> @Session["kullaniciad"]</a></li>
        <li class="logout warn"><a href="/Giris/AdminCikis">Çıkış Yap</a></li>
    </ul>
</header>

<nav role='navigation'>
    <ul class="main">
        <li class="dashboard"><a href="/Admin/AdminAnasayfa">Yönetim Paneli</a></li>
        <li class="users"><a href="#">Kullanıcılar</a></li>
        <li class="write"><a href="#">Eğitmenler</a></li>
        <li class="comments"><a href="#">Eğitimler</a></li>
    </ul>
</nav>

<main role="main">

    <section class="panel important">
        <h2>Yönetim Paneli</h2>
    
    </section>

    <section class="panel important">
      
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="widget navy-bg">
                            <div class="row-fluid">
                                <div class="span4">
                                    <i class="icon icon-search icon-white"></i>
                                </div>
                                <div class="span8 text-right">
                                    <h2 class="font-bold" style="color:white">
                                        Kullanıcılar
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="widget lazur-bg">
                            <div class="row-fluid">
                                <div class="span4">
                                    <i class="icon icon-search icon-white"></i>
                                </div>
                                <div class="span8 text-right">
                                    <h2 class="font-bold" style="color:white">
                                        Eğitmenler
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="widget yellow-bg">
                            <div class="row-fluid">
                                <div class="span4">
                                    <i class="icon icon-search icon-white"></i>
                                </div>
                                <div class="span8 text-right">
                                    <h2 class="font-bold" style="color:white">
                                        Eğitimler
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        
        
    </section>

</main>
