@model ViewModel
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/Admin.css" rel="stylesheet" />
    <style>
        .text {
            color: red;
            background-color: transparent;
            border-color: black;
        }

            .text:hover {
                background-color: transparent;
                color: black;
            }
    </style>
</head>
<header role="banner">
    <h1>BS</h1>
    <ul class="utilities">
        <br>
        <li class="users"><a href="/Admin/AdminProfil"> @Session["kullaniciad"]</a></li>
        <li class="logout warn"><a href="/Giris/AdminCikis">Çıkış Yap</a></li>
    </ul>
</header>
<nav role='navigation'>
    <ul class="main">
        <li class="dashboard"><a href="/Admin/AdminAnasayfa">Yönetim Paneli</a></li>
        <li class="users"><a href="/Admin/Kullanicilar">Kullanıcılar</a></li>
        <li class="write"><a href="/Admin/Egitmenler">Eğitmenler</a></li>
        <li class="write"><a href="/Admin/EgitmenBasvuru">Basvurular</a></li>
        <li class="comments"><a href="/Admin/Egitimler">Eğitimler</a></li>
    </ul>
</nav>

<main role="main">

    <section class="panel important">
        <h2>Eğitmen Başvuruları</h2>
    </section>

    <section class="panel important" style="padding:40px">
        <div>
            <section id="leaders-list" class="work-cards leaders-list ">
                <ul>
                    @foreach (var o in Model.EgitimVerens)
                    {
                        <li>
                            <article>
                                <a class="leader" href="/Admin/EgitmenBasvuruDetay/@o.kullaniciid" data->
                                    <aside class=""></aside>
                                    <header>
                                        <div class="title">
                                            <strong> @o.Adi &nbsp; @o.Soyad </strong><br>
                                            <span>@o.Universite</span>
                                        </div>
                                    </header>
                                    <div class="content">
                                        
                                        <div class="image">
                                            <picture>
                                                <img style="width:320px; height:320px" src="~/Content/img/pngegg.png" />

                                            </picture>
                                        </div>
                                        <div class="symbol">
                                            <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet">
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Regular_LinkArrow" transform="translate(-20.000000, -18.000000)" fill="#221F20">
                                                        <polygon id="Regular_Arrow" points="39.107 26 37.692 27.414 41 30.9997 20 30.9997 20 32.9997 41 32.9997 37.692 36.726 39.107 38.14 45 31.9997"></polygon>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </li>

                    }
                </ul>
            </section>
        </div>
    </section>
</main>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script>
    $('#tablo').DataTable({
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
            infoEmpty: "Hiç kayıt bulunamadı.",
            loadingRecords: "Kayıtlar yükleniyor.",
            zeroRecords: "Eşleşen bir kayıt bulunamadı.",
            search: "Ara:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            lengthMenu: "Sayfada _MENU_ kayıt göster",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                print: "Yazdır",
            },

            paginate: {
                first: "İlk",
                previous: "Önceki",
                next: "Sonraki",
                last: "Son"
            },
        }
    });
    $(function () {
        $('#tablo').on("click", ".btnKullaniciSil", function () {
            var btn = $(this);
            bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    var id = btn.data("id");
                    $.ajax({
                        type: "GET",
                        url: "/OgrenciIsleri/KullaniciSil/" + id,
                        success: function () {
                            btn.parent().parent().remove();
                        }
                    }).fail(function () {
                        bootbox.alert('Silmek istediğiniz eğitmenin ders kaydı bulunmaktadır.');

                    });
                }
            })

        });
    });
    $(document).ready(function () {
        $(".close").click(function () {
            $("#myAlert").alert("close");
        });
    });
</script>