
@{
    ViewBag.Title = "EgitmenOnayla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <main>
      
        <div class="row g-5 justify-content-center">

            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3 text-center">Ders Ekle</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Ders Ad<span class="text-muted">*</span> </label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="kullaniciadi" class="form-label">Ders İçerik<span class="text-muted">*</span></label>
                            <div class="input-group has-validation">
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <label for="ders" class="form-label">Dersler <span class="text-muted">*</span></label>
                            <input type="file" class="form-control" id="ders">
                        </div>
                    </div>
                    <br>

                    <button class="w-100 btn btn-lg  mt-4 btnhover" style=" border-color: #ff685f;" type="submit">KAYDET</button>
                </form>
            </div>
        </div>
    </main>

