@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Güncel Eğitimler</h1>
                <p class="lead text-muted">
                    İnsan eğitimle doğmaz ama
                    eğitimle yaşar. Güncel eğitim videolarını kaçırmayın...
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/OLX6aE_G-VA" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                İster ASP.NET
                                geliştirmenin belirli yönlerini öğrenmek istiyor olun, ister uçtan uca
                                bir projede ASP.NET ile çalışma konusunda kapsamlı bilgi sahibi
                                olmakla ilgilenin, hepsine bu eğitim ile sahip olabilirsiniz.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/hHwxdPIUUBo" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                Eğitim dahilinde
                                sıfırdan en ileri seviyeye kadar Javascript'in mimarisini, hangi
                                alanlarda kullanıldığı, tüm fonksiyonlarını ve nesne tabanlı
                                programlama yöntemlerini en ayrıntılı şekilde ve bol örneklerle
                                işlenmektedir.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/llIQYBIAs9A" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                Python ile Nesne Tabanlı Programlamayı
                                öğrenerek daha kaliteli uygulamaları yazabiliyor olacaksınız.
                                Python'da modül kullanımını detaylı şekilde öğrenerek hazır modülleri
                                kullanmanın tadına varacaksınız.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/qJqx7dxWW8I" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                Herhangi bir
                                programlama bilgisi olmayan veya Go dilini öğrenmek isteyen adayların
                                programlamaya sağlam adımlarla başlamasını desteklemek amacıyla
                                geliştirdiğimiz kurstur.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/RJ-4hIXK-Ms" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                Sektörde kurumsal organizasyonların
                                kullandığı backend yazma tekniklerini profesyonel bir akış açısıyla
                                öğreneceksiniz.
                            </p><br />
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/zERL__bD4NI" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                Java Nesne Yönelimli Programlama (OOP)
                                tekniklerini, gerçek hayattaki gibi öğreniyoruz.
                                Veri tabanına erişim yöntemlerini
                                temel olarak öğreniyoruz.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/40Ip2UkpJDc" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                Kurs kapsamında
                                algoritma tasarlama becerisinin geliştirilmesi hedeflenmiştir. Bu
                                kapsamda, temel programla bileşenleri ile temel seviyede kodlama ve
                                algoritma geliştirme yeteneğinin desteklenmesi amaçlanmıştır.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/rq2zAJ95KCU" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card
                                with supporting text below as a natural lead-in to additional content.
                                This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <iframe width="360" height="250"
                                src="https://www.youtube.com/embed/UpQdjipl2OE" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card
                                with supporting text below as a natural lead-in to additional content.
                                This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between
align-items-center">
                                <small class="text-muted">önerilen</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>