<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/egitimveren.css" rel="stylesheet" />
</head>
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <!--Just the logo.. Don't mind this-->

        <h1>Bir BS Eğitmeni Olun! </h1>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</div>
<div class="container slider-one-active" style="margin-top:170px">

    <div class="steps">

        <div class="step step-one">
            <div class="liner"></div>
            <span>Başla!</span>
        </div>
        <div class="step step-two">
            <div class="liner"></div>
            <span>2</span>
        </div>
        <div class="step step-three">
            <div class="liner"></div>
            <span>3</span>
        </div>
    </div>
    <div class="line" style="margin-top:30px;">
        <div class="dot-move"></div>
        <div class="dot zero"></div>
        <div class="dot center"></div>
        <div class="dot full"></div>
    </div>
    <div class="slider-ctr">
        <div class="slider">
            @using (Html.BeginForm("EgitmenBasvuru", "Home", FormMethod.Post))
            {
                <div class="slider-form slider-one">
                    <label class="input">
                        <input type="text" class="name" name="Adi" placeholder="Ad">
                        <input type="text" class="name" name="soyad" placeholder=" Soyad">
                        <input type="text" class="name" name="email" placeholder="E Mail">
                    </label>
                    <button class="first next">Kaydet</button>
                </div>
                <div class="slider-form slider-two">
                    <div class="label-ctr">
                        <label class="input">
                            <select name="egitimdurumu" class="form-select name" aria-label="Default select example" style=" width: 100%; margin-right:150px; margin-bottom:20px">

                                <option value="0"> Eğitim Durumu</option>
                                <option value="Lisans"> Lisans</option>
                                <option value="Yüksek Lisans"> Yüksek Lisans</option>
                                <option value="Lise"> Lise</option>
                            </select>

                            <select id="Iller" name="il" class="form-select name" aria-label="Default select example" style=" width: 100%; margin-right:150px; margin-bottom:20px">

                                <option value="0">Şehir</option>
                            </select>
                            <select id="uniler" name="universite" class="form-select name" aria-label="Default select example" style=" width: 100%; margin-right:150px; margin-bottom:20px" disabled>

                                <option value="0">Üniversite</option>
                            </select>
                            <textarea name="hakkimda" placeholder="Hakkımda" style=" width: 100%; margin-right:150px; height:150px; margin-bottom:20px" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </label>
                    </div>
                    <button type="submit" class="second next">Başvuru Yap</button>
                </div>

                <div class="slider-form slider-three">
                    <h3 class="text-white">
                        Teşekkürler, Başvurunuz alındı.
                    </h3>
                    <button type="submit">Başvuruyu Tamamla</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/universiteler.js"></script>
<script>
    var $firstButton = $(".first"),
        $secondButton = $(".second"),
        $input = $("input"),
        $name = $(".name"),
        $more = $(".more"),
        $yourname = $(".yourname"),
        $reset = $(".reset"),
        $ctr = $(".container");

    $firstButton.on("click", function (e) {
        $(this).text("Kayıt ediliyor...").delay(900).queue(function () {
            $ctr.addClass("center slider-two-active").removeClass("full slider-one-active");
        });
        e.preventDefault();
    });

    $secondButton.on("click", function (e) {
        $(this).text("Kayıt Ediliyor...").delay(900).queue(function () {
            $ctr.addClass("full slider-three-active").removeClass("center slider-two-active slider-one-active");
            $name = $name.val();
            if ($name == "") {
                $yourname.html("Anonymous!");
            }
            else { $yourname.html($name + "!"); }
        });
        e.preventDefault();
    });

    // </script>