<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>

        .dropdown-toggle {
            outline: 0;
        }
    </style>
</head>

<body style="padding-top:20px">
    @Html.Partial("_Header")

    @RenderBody()
    @Html.Partial("_Footer")

<script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
